<div class="d-flex justify-content-center align-items-center">
  <div class="container align-middle m-5">
    <section class="form-elegant">

      <!--Form without header-->
      <div class="card">

        <div class="card-body">

          <!--Header-->
          <div class="text-center">
            <h3 class="dark-pink-text mb-5">
              <strong>Sign in</strong>
            </h3>
          </div>

          <!--Body-->
          <div class="md-form">
            <input type="text" id="email" class="form-control" name="email" [(ngModel)]="loginCredential.email" mdActive>
            <label class="active" for="email">Email</label>
          </div>

          <div class="md-form pb-3">
            <input type="text" id="pwd" class="form-control" name="pwd" [(ngModel)]="loginCredential.password" mdActive>
            <label class="active" for="pwd">Password</label>
            <p class="font-small blue-text d-flex justify-content-end">Forgot
              <a href="#" class="blue-text ml-1"> Password?</a>
            </p>
          </div>

          <div class="text-center">
            <button type="button" class="btn pink btn-block" (click)="doLogin()">Sign in</button>
          </div>
          <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>

          <div class="row d-flex justify-content-center">
            <!--Facebook-->
            <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a">
              <i class="fa fa-facebook blue-text text-center"></i>
            </button>
            <!--Twitter-->
            <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a">
              <i class="fa fa-twitter blue-text"></i>
            </button>
            <!--Google +-->
            <button type="button" class="btn btn-white btn-rounded z-depth-1a">
              <i class="fa fa-google-plus blue-text"></i>
            </button>
          </div>
        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3">
          <p class="font-small grey-text d-flex justify-content-end">Not a member?
            <a routerLink="/signup" class="blue-text ml-1"> Sign Up</a>
          </p>
        </div>

      </div>
      <!--/Form without header-->

    </section>
  </div>
</div>