<div class="d-flex justify-content-center align-items-center">
  <div class="container align-middle m-5">
    <section class="form-elegant">

      <!--Form without header-->
      <div class="card">

        <div class="card-body">

          <!--Header-->
          <div class="text-center">
            <h3 class="dark-pink-text mb-5">
              <strong>Sign up</strong>
            </h3>
          </div>

          <!--Body-->
          <div class="md-form pb-1">
              <input type="text" id="name" name="name" class="form-control" mdActive>
              <label class="active" for="name">Name</label>
            </div>

          <div class="md-form pb-1">
            <input type="text" id="email" name="email" class="form-control" mdActive>
            <label class="active" for="email">Email</label>
          </div>

          <div class="md-form pb-1">
            <input type="text" id="pwd"  name="pwd" class="form-control" mdActive>
            <label class="active" for="pwd">Password</label>
          </div>

          <div class="md-form pb-1">
              <input type="text" id="repwd"  name="repwd" class="form-control" mdActive>
              <label class="active" for="repwd">Re-Enter Password</label>
            </div>

          <div class="text-center mb-3">
            <button type="button" class="btn pink btn-block">Sign up</button>
          </div>

          <!--Footer-->
          <div class="modal-footer mx-5 pt-3">
            <p class="font-small grey-text d-flex justify-content-end">Already a member?
              <a routerLink="/login" class="blue-text ml-1"> Sign in</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>